@import "../base"

#bg
  position absolute
  width 100%
  height 100%
  overflow hidden
  z-index -1
  img
    position absolute
    width 100%
    height 100%

#header
  background #7f3ce6
  background linear-gradient(#7f3ce6 0%, #387ad8 100%)
  text-align center
  padding 20px 0
  color #fff
  span
    font-size 16px
  img
    width 75px
    height 75px
    border-radius 50%
    border #abb0ef 3px solid

#body
  text-align center
  img
    width 280px
    height 280px

#footer
  text-align center
  color #eee * 0.8
  font-size 18px
  div
    height 10px
